nav {
  width: 100vw;
  height: 150px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-profil {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
