*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

#root {
  isolation: isolate;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.blocked {
  overflow-y: hidden;
}