.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100vw;
  margin: 100px 0;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 90vw;
}

.plus-logo {
  margin-left: 10px;
  font-size: 17px;
}
